*{
  padding: 0;
  margin: 0
}
body{
  width: 1024px;
  height: fit-content;
  background: #00000014
}
.header{
  background:#0000001F;
  width: 100%;
  
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly
  
}
.header .head-div{
  width: 20%;
  height: 40px;
  display: flex;

  align-items: center;
  justify-content: space-around
}
.head-div input{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.header .head-icon{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .head-icon i{
  width: 33%;
  height: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  
  
  color: black
}




.category{
  width: 100%;
  height: 100px ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #0000003D
  
}
.category a{
  list-style: none;
  text-decoration: none;
  color: black;
  width: 20%;
  font-size: 20px ;
  text-align: center
  
  
}





.big-photo{
  width: 100%;
  height: 450px ;
  
  position: relative
  
}
.big-photo img{
  width: 100%;
  height: 100%;
  
}
.big-photo .item-bigphoto{
  padding: 0 2%;
  width: 96%;
  height: 20%;
  background: #FFFFFF24;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  align-items: center;
  background: #ffffff4a

}

.big-photo .item-bigphoto .span-bigphoto{
  
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  color: white
}
.big-photo .item-bigphoto .span-bigphoto .price{
  background: #FF7000;
  padding: 0 2px;
  border-radius: 7px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  
}






.shop{
  width: 95%;
  background: #0000001A;
  height: 100px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
  
}
.btn-shop{
  background: #0016FF;
  color: #FFFFFF;
  width: 15%;
  height: 60%;
  border-radius: 10px ;
  font-size: 20px ;
  outline: none;
  border: none;
  cursor: pointer;
}
.shop .text {
  font-size: 20px 
}
.besttitle{
  font: 20px;
  padding: 15px ;
  
}



.products{
  width: 98%;
  height: fit-content;
  padding: 0 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #00000014
  
  
}
.product{
  min-width: 15%;
  height: 300px;
  background: white;
  margin-bottom: 30px ;
  margin-right: 3px;
  display: inline-block;
  border-radius: 10px 
  
}
.product .img-product{
  width: 100%;
  height: 180px;
  position: relative ;
  color: white
}
.product img{
  width: 100%;
  height: 100%;

  
}
.product .img-product .love{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  
}
.product .img-product .item-img{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0
}
.bi-star-fill{
  color: #FFC111
}
.span3k{
  width: 30px ;
  background: #0000001F;
  border-radius: 6px ;
  display: flex;
  justify-content: center
}
.price-product{
  width: 100%;
  height: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.price-product .price{
  background: #FF7E00;
  border-radius: 5px ;
  padding: 0 5px;
  color: white
}







.slider{
  width: 100%;
  height: 150px ;
  
  display: flex;
  align-items: center;
  overflow: auto;
  background: #FFFFFF
  
}
.slider .slider-img{
  min-width: 10%;
  height: 90px;
  text-align: center;
  display: inline-block;
  margin: 0 10px
  
  
}
.slider .slider-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}









.shop-category{
width: 98%;
padding: 0 1%;
display: flex;
height: 80px;
justify-content: space-between;
align-items: center;
background: #0000000F
}






.category-menu{
  width: 94%;
  padding: 0 2%;
  height: 100px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  overflow: auto
  
}
.category-menu div{
  min-width: 30%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  align-items: center;
  margin: 0 1%;
}
.category-menu div span{
  font-size: 20px 
}
.category-menu div span i{
  font-size: 50px 
}



footer{
  width: 96%;
  height: 150px ;
   background: #0000001C;
  padding: 2%
}

.a-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 75px
  
}
.a-footer a{
  text-decoration: none;
  color: #3e3a34;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


footer .footer-logo{
  width: 96%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%
}

footer .footer-logo div{
  display: flex;

  width: 20%;
  
  justify-content: space-between
}




.fixed{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1024px;
  height: 70px;
  background: #FEFEFE
}
.fixed i{
  font-size: 20px 
}
.bi-card-text{
  color: #0056FF
}
